/* Styles associated specifically with the Cool Link webpage
----------------------------------------------*/

.navbar-header-short{
	width: 200px;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 48px;
    line-height: 20px;
    padding: 14px;
}

#wrapAllForm {
	float: right;
	width: 550px;
}
#wrapperUniq{
	width:550px;
	margin: 0 auto;
}

input[type=file], #url,#range1, #range2, #categories {
  background: rgba(255, 255, 255, .2);
  color:#aeaeae;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
}

input[type=file], input[type=text], input[type=password], select.form-control, #rangeBox select, .input-group span {
  border-bottom: 2px solid #aeaeae;
  border-right: none;
  border-left: none;
  border-top:none;
  border-radius: 0px !important;
}

.input-group span {
	background: none;
	border-radius: 0px !important;
}

.fileToUpload::before {
  background: transparent !important;
  border-color: #ffffff;
  border-radius: 3px;
}

#generar {
	background: #01a38a;
	border-radius: 0;
	color:#ffffff;
	border:0;
}

.btn-primary {
  background: #01a38a;
  border:0;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 1px;
}

#url, #range1, #range2 {
  border-bottom: 2px solid #aeaeae;
  border-right: none;
  border-left: none;
  border-top:none;
  color: #000;
  width: 100%;
}
#protocolo, #alias {
  background: rgba(255, 255, 255, .3);
  color: #000;
  height: 45px;
  font-weight: 700;
}
.table-condensed {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.table-condensed a {
	color:#c0c0c0;
}

.alias-stats-title h2::after {
	height: 190px;
}
.alias-stats-title h2::before {
	height: 190px;
}

/**/
.carousel-caption {
	
}

.row {
	margin-top:10px;

}

#contentSubmit p {
	margin: 0;
}

.page-header {
	margin:0px;
	border-bottom: 2px solid #aeaeae;
	background: #ffffff;
}

.input-group {
	display: table !important;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-group {
	display: flex;
    text-align: left;
}

.form-group #password, .form-group #passcheck{
	width:127px;
}

.form-group #password {
	margin-right: 20px;
}

.form-group .form-control{
	
	float:right;
}

.form-group label {
	width: 200px;
	line-height: 35px;
}

.singUpForm{
	margin: 0 auto;
}

#logoTitle {
	float:left;
}

#wrapperUniq #logoTitle {
	float: none;
}
.carousel-caption {
	color:#aeaeae;
}

#error {
	border: 2px solid #aeaeae;
	
}

#rangeBox label {
	vertical-align: bottom;
}

#success-row {
	border: 2px solid #aeaeae;
}