/* Styles associated specifically with the Cool Link webpage
----------------------------------------------*/
.navbar-header-short{
	width: 200px;
}

input[type=file], #url,#range1, #range2 {
  background: rgba(255, 255, 255, .2);
  color:#000;
  border-radius: 1px;
  height: 45px;
  padding: 10px;
  font-weight: 700;
  font-size: 16px;
}

.fileToUpload::before {
  background: transparent !important;
  border-color: #ffffff;
  border-radius: 3px;
}

.btn-primary {
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border-radius: 1px;
}

#url, #range1, #range2 {
  border: 1px solid #ccc;
  color: #000;
  width: 100%;
}
#protocolo, #alias {
  background: rgba(255, 255, 255, .3);
  color: #000;
  height: 45px;
  font-weight: 700;
}
.table-condensed {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.table-condensed a {
	color:#c0c0c0;
}

.alias-stats-title h2::after {
	height: 190px;
}
.alias-stats-title h2::before {
	height: 190px;
}

/**/
.carousel-caption {
	margin-top: -100px;
}

.row {
	margin-top:10px;

}

#contentSubmit p {
	margin: 0;
}

.page-header {
	margin:0px;
	border-bottom: none;
}

.input-group {
	display: table !important;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-group {
	display: flex;
    text-align: left;
}

.form-group #password, .form-group #passcheck{
	width:150px;
}

.form-group #password {
	margin-right: 20px;
}

.form-group .form-control{
	width:320px;
	float:right;
}

.form-group label {
	width: 200px;
}

.singUpForm{
	margin: 0 auto;
}
