/* Styles associated specifically with the Cool Link webpage
----------------------------------------------*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

img {
	border: none;
}

.navbar-header-short{
	width: 200px;
}
.navbar-brand {
    float: left;
    font-size: 15px;
    height: 48px;
    line-height: 20px;
    padding: 14px;
}

#wrapAllForm {
	float: right;
	width: 550px;
}
#wrapperUniq{
	width:550px;
	margin: 0 auto;
}

input[type=file], #url,#range1, #range2, #categories, #newCategory, #category_new {
  background: rgba(255, 255, 255, .2);
  color:#666666;
  border-radius: 0;
  height: 45px;
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
}

input[type=file], input[type=text], input[type=password], select.form-control, #rangeBox select, .input-group span {
  border-bottom: 2px solid #aeaeae;
  border-right: none;
  border-left: none;
  border-top:none;
  border-radius: 0px !important;
}

::-webkit-input-placeholder {
   color: #666666;
   
}

:-moz-placeholder { /* Firefox 18- */
   color: #666666;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666666; 
}

:-ms-input-placeholder {  
   color: #666666;  
}

.input-group span.input-group-addon {
	background: none;
	border-radius: 0px !important;
	border: 0;
	padding: 0px!important;
	font-size: 15px;
	width: 120px !important;
	font-weight: 400;
	text-align: left;
	color: #666666;
	line-height: 35px;
}

#alias-group .input-group span.input-group-addon {
	/*width: 100% !important;*/
	border-bottom: 2px solid #aeaeae;
}

.inputFile {
	width:92%;
	position: absolute;
	border-bottom: 2px solid #aeaeae;
	height: 45px;
	padding-left: 40%;
}

.inputFile label.butonInputFile {
	background: #aeaeae none repeat scroll 0 0;
	position: absolute;
	left: 0px;
	height: 45px;
	width: 40%;
	color:#ffffff;
	font-size: 15px;
	font-weight: 400;
	line-height: 45px;
}

.fileToUpload {
  background: transparent !important;
  opacity: 0;
  cursor: pointer;
}

#generar {
	background: #01a38a;
	border-radius: 0;
	color:#ffffff;
	border:0;
}

.btn-default {
	border: none;
}

.btn-primary {
  background: #01a38a;
  border:0;
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 1px;
}

.btn-primary:hover, .btn-primary[disabled]:hover  {
	background: #01d1b1;
}

.btn-link {
	color: #01a38a;
	font-weight: 500;
}

.contentButon{
	height: 45px;
    line-height: 50px;
    vertical-align: middle;
}

#url, #range1, #range2, #category_new {
  border-bottom: 2px solid #aeaeae;
  border-right: none;
  border-left: none;
  border-top:none;
  color: #666666;
  width: 100%;
}
#protocolo, #alias, #categories, #newCategory {
  background: transparent;
  color: #666666;
  height: 45px;
  font-weight: 400;
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-size: 15px;
  
}

#protocolo, #categories, #newCategory {
	background: url('../images/arrow-down.svg') no-repeat right 8px;
	background-size: 30px;
}

#categories {
	padding-right: 20px;
	width: 200px;	
}

#rangeBox .row label {
	height: 30px;
	padding-top: 15px;
	font-weight: 400;
}

#alias {
	width: 204px;
}
.table-condensed {
  
  color: #666666;
}

.table tr {
	border-bottom: 1px solid #aeaeae;
}

.table > thead > tr > th {
	border-bottom-color: #666666;
}

.table-condensed a {
	color:#666666;
}

.alias-stats-title h2::after {
	height: 190px;
}
.alias-stats-title h2::before {
	height: 190px;
}

/**/
.backgroundCaption {
	margin-top: -40px;
    right: 0;
    text-align: center;
    text-shadow: none !important;
    top: 30%;
    transition: all 0.3s ease 0s;
     left: 0;
    padding-bottom: 30px;
    bottom: 0;
    padding-top: 20px;
    position: absolute;
    background: #ffffff;
	
}

.row {
	margin-top:10px;

}

#contentSubmit p {
	margin: 0;
}

.page-header {
	margin:0px;
	border-bottom: none;
	background: #ffffff;
	padding: 0 15px;
}

.page-header .headerLine {
	padding-bottom: 15px;
	padding-left: 0px;
	border-bottom: 2px solid #aeaeae;
}

#logoTitle {
	margin-left: -15px;
	margin-top: 10px;
	padding-bottom: 0;
	border: none;
}

.login .input-group {
	display: table !important;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 415px;
}

.form-group {
	display: flex;
    text-align: left;
}

.form-group #password, .form-group #passcheck{
	width:138px;
}

.form-group #password {
	margin-right: 20px;
}

.form-group .form-control{
	
	float:right;
}

.form-group label {
	width: 200px;
	line-height: 35px;
	font-weight: 400;
	
}

.singUpForm{
	margin: 0 auto;
}

#logoTitle {
	float:left;
}

#wrapperUniq #logoTitle {
	float: none;
}
.carousel-caption {
	color: #666666;
}

#error, .has-warning .help-block, .has-error .help-block, .login #success-row {
	/*border: 2px solid #922a10;*/
	color: #FFFFFF !important;
	font-weight: 500;
	background: #fbaf42;
	    font-style: normal;

	
}

.has-success .help-block {
	/*border: 2px solid #922a10;*/
	color: #FFFFFF !important;
	font-weight: 500;
	background: #00942b;
	    font-style: normal;

	
}

.help-block {
	    font-size: 15px;
    line-height: 35px;
}

#rangeBox label {
	vertical-align: bottom;
}

.input-group-addon.text-right{
	width: 100px !important;
	padding: 10px 8px;
}

#login {
	margin-top:20px;
	margin-bottom: 10px;
}

.input-group #username, .input-group #password {
	font-size: 15px;
	padding: 10px 6px;
	color: #666666;
}

#success-row p {
	border: 2px solid #aeaeae;
}

#fileName {
	font-size: 15px;
	line-height: 48px;
}

.success {
	float: none !important;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#01a38a;
  font-size: 18px;
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-chevron-down:before {
  content: "\f078";

}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-file-text-o:before {
  content: "\f0f6";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}

.back {
	background: #01a38a;
	padding: 8px 4px;
	color: #ffffff;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}

.back:hover{
	color: #01a38a;
	background: #ffffff;
	border:1px solid #01a38a;
}

.fa-reply-all {
	font-size: 16px;
	color: #ffffff;
}
.back:hover .fa-reply-all{
	color:#01a38a;
}


.footerNav {
	margin-top: 20px;
}

.footerNav a {
	color:#666666;
	font-weight: 500;
}

.footerNav a:hover{
	color: #333333;
	font-weight: 500;
}

.has-success .input-group-addon {
	border-color: #3c763d !important;
}

.has-error .input-group-addon{
	border-color: #a94442 !important;
}

#errorSuccess {
	margin-bottom: 10px;
}

.carousel-caption p.totalUrl {
	color:#01a38a;
	font-size: 20px;
	margin-bottom: 10px;
}

.textCaption {
	color:#ffffff;
	width: 550px;
	float: left;
}

.textCaption h2 {
	color: #ffffff;
	font-weight: 200;
	margin: 0px 10px;
	padding: 0;
	text-shadow: 2px 2px 8px #333333;
}
.textCaption p{
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-shadow: 2px 2px 8px #333333;
}

.textCaption p a{
	color: #01a38a;
	
}
