/*.footer {
	position: relative;
}

.pagination {
	position: relative;
	margin: 0;
    z-index: 10;
}

.pager {
	position: relative;
	margin: 0;
    z-index: 10;
}*/

.footer {
	margin-top: 0;
}

.pagination > li > a {
	border: 0;
	color: #666;
}

.pagination > .active > a, .pagination > .active > a:hover {
	background-color: #01a38a;
    border-color: #01a38a;
    /*border-radius: 15px;*/
    color: #fff;
    cursor: default;
    z-index: 3
}

.row-paginator {
	margin-top: 0px;
}

#table-body > tr{
	height: 41px;
}